@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #005f50,
  $secondary: #D79922,
  $surface: #001a16,
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background: rgb(0,57,49);
  background: radial-gradient(circle, rgba(0,57,49,1) 0%, rgba(0,20,17,1) 100%);
  color: theme.$on-surface;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #dddddd;
  text-decoration: none;
}
