// THEME COLORS

// Light Theme
$primaryLight: #005f50;
$secondaryLight: #D79922;
$surfaceLight: #eee;
$backgroundLight: #fff;
$errorLight: red;

// Dark Theme
$primaryDark: #005f50;
$secondaryDark: #D79922;
$surfaceDark: #001a16;
$backgroundDark: #000;
$errorDark: red;

// Console Colors
$consoleColor:  #7cfc00;
$consoleBackground: black;