@use '@material/theme/color-palette';

$primaryLight: #005f50;
$secondaryLight: #D79922;
$surfaceLight: #eee;
$backgroundLight: #fff;
$errorLight: color-palette.$red-900;

$primaryDark: #005f50;
$secondaryDark: #D79922;
$surfaceDark: #001a16;
$backgroundDark: #000;
$errorDark: color-palette.$red-700;
